In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt 
import gc

如果import train_test_split 时出错，请升级 scikit-learn
Scripts\conda update scikit-learn 

pd._version.get_versions()

{'dirty': False,
 'error': None,
 'full-revisionid': '87b0f4dc1e91571cc4dd933b7cb181b99606ad20',
 'version': '0.18.1'}
 
 numpy.version.version
 
 '1.12.1'

In [2]:
df_topics = pd.read_csv('ieee_zhihu_cup/topic_info.txt', header=None, names=['topic_id', 'pid', 'cn', 'wn', 'cd', 'wd'],sep='\t')
df_topics.head(5)

,topic_id,pid,cn,wn,cd,wd
0,738845194850773558,-5833678375673307423,"c0,c1",w0,"c0,c1,c2,c3,c4,c5,c6,c7,c0,c1,c8,c9,c10,c11,c1...","w0,w1,w2,w3,w4,w5,w6,w7,w8,w9,w10,w11,w12,w13,..."
1,3738968195649774859,2027693463582123305,"c39,c40",w24,"c41,c42,c43,c39,c40,c4,c44,c45,c46,c47,c48,c49...","w24,w25,w26,w27,w28,w6,w29,w30,w11,w31,w32,w33..."
2,4738849194894773882,1127459907694805235,"c172,c31,c0,c1",w102,NaN,NaN
3,7739004195693774975,"2904932941037075699,1160326435131345730,725917...","c39,c40,c5,c173",w103,"c39,c40,c23,c21,c174,c74,c5,c173,c17,c35,c39,c...","w104,w105,w11,w21,w24,w6,w106,w23,w54,w24,w107..."
4,-7261194805221226386,-5833678375673307423,"c36,c31,c45,c237",w148,"c238,c239","w149,w150"

In [3]:
len(df_topics)

1999

In [4]:
df_question_train_set = pd.read_csv('ieee_zhihu_cup/question_train_set.txt', header=None, names=['question_id', 'ct', 'wt', 'wn', 'cd', 'wd'],sep='\t')

In [5]:
df_question_train_set.head(5)

,question_id,ct,wt,wn,cd,wd
0,6555699376639805223,"c324,c39,c40,c155,c180,c180,c181,c17,c4,c1153,...","w305,w13549,w22752,w11,w7225,w2565,w1106,w16,w...","c335,c101,c611,c189,c97,c144,c147,c101,c15,c76...","w231,w54,w1681,w54,w11506,w5714,w7,w54,w744,w1...",NaN
1,2887834264226772863,"c44,c110,c101,c286,c106,c150,c101,c892,c632,c1...","w377,w54,w285,w57,w349,w54,w108215,w6,w47986,w...","c1265,c518,c74,c131,c274,c57,c768,c769,c368,c3...","w12508,w1380,w72,w27045,w276,w111",NaN
2,-2687466858632038806,"c15,c768,c769,c1363,c650,c1218,c2361,c11,c90,c...","w875,w15450,w42394,w15863,w6,w95421,w25,w803,w...","c693,c100,c279,c99,c189,c532,c101,c189,c145,c1...","w140340,w54,w48398,w54,w140341,w54,w12856,w54,...",NaN
3,-5698296155734268,"c473,c1528,c528,c428,c295,c15,c101,c188,c146,c...","w8646,w2744,w1462,w9,w54,w138,w54,w50,w110,w14...",NaN,NaN,NaN
4,-6719100304248915192,"c190,c147,c105,c219,c220,c101,c647,c219,c220,c...","w380,w54,w674,w133,w54,w134,w614,w54,w929,w307...","c644,c1212,c253,c199,c431,c452,c424,c207,c2,c1...","w4821,w1301,w16003,w928,w1961,w2565,w50803,w11...",NaN

In [6]:
df_question_eval_set = pd.read_csv('ieee_zhihu_cup/question_eval_set.txt', header=None, names=['question_id', 'ct', 'wt', 'wn', 'cd', 'wd'],sep='\t')

In [7]:
df_topics.ix[df_topics['pid'].isnull()].head(5)

,topic_id,pid,cn,wn,cd,wd
40,-1315223959315847746,NaN,"c179,c8",w1273,"c238,c239","w149,w150"
41,-315342960042848847,NaN,"c172,c327",w486,"c172,c327,c102,c103,c104,c104,c97,c246,c147,c1...","w486,w55,w1519,w58,w2,w7,w1520,w6,w1396,w278,w..."
85,-8412622048338198339,NaN,"c327,c509",w2735,"c41,c42,c43,c327,c509,c806,c4,c122,c50,c731,c1...","w2735,w1350,w2838,w2839,w2840,w33,w2841,w268,w..."
87,9030484820615456959,NaN,"c229,c640,c1332,c1333",w2854,"c238,c239","w149,w150"
117,-8209651626505353779,NaN,"c837,c520",w3476,"c837,c520,c4,c5,c880,c652,c857,c2,c157,c28,c61...","w3476,w2,w1229,w3264,w90,w16,w1666,w3477,w602,..."

### 为 train set 中的question_id 建索引
### 为 eval  set 中的question_id 建索引

In [8]:
idx_question_train_set_qid = df_question_train_set.set_index(['question_id']).index
idx_question_eval_set_qid  = df_question_eval_set.set_index(['question_id']).index

### 判断训练集与评估集是否有交集

In [9]:
df_question_train_set[idx_question_train_set_qid.isin(idx_question_eval_set_qid)]

Empty DataFrame
Columns: [question_id, ct, wt, wn, cd, wd]
Index: []

### 练习以下Pandas 语句， 研究 topic 的一些属性：

1. 找到父结点为NaN的topic, 我们把这样的topic称作一级topic；

2. 找到父结点为一级topic的topic我们把它称作二级topic;

3. 找到父结点为二级topic的topic我们把它称作三级topic， 并统计数量;

4. 找到topic标题字数小于3的topic,并显示总数

In [10]:
def finding_topics(row, pid):
    return False if str(row).split(',') == ["nan"] else (pid in row)

In [11]:
class_one_topic = df_topics.ix[df_topics['pid'].isnull()]
class_one_id = class_one_topic[['topic_id']]
len(class_one_id)

115

In [20]:
class_one_id.topic_id.head(5)

40    -1315223959315847746
41     -315342960042848847
85    -8412622048338198339
87     9030484820615456959
117   -8209651626505353779
Name: topic_id, dtype: int64

In [12]:
class_two = []
for pid in class_one_id.topic_id:
    class_two.append(df_topics[df_topics.pid.apply(finding_topics, args=[str(pid)])])
class_two_topic = pd.concat(class_two)
class_two_id = class_two_topic[['topic_id']]
len(class_two_id)

316

In [13]:
class_three = []
for pid in class_two_id.topic_id:
    class_three.append(df_topics[df_topics.pid.apply(finding_topics, args=[str(pid)])])
class_three_topic = pd.concat(class_three)
class_three_id = class_three_topic[['topic_id']]
len(class_three_id)

536

In [14]:
def fun(row):
    return (len(row.split(','))<3)
topic_less_than_three_words = df_topics[df_topics.cn.apply(fun)]
len(topic_less_than_three_words)

787

### 根据 topic 找 questions
1. 找到所有一级结点topic的question 
2. 找到所有二级结点topic的question

In [15]:
df_question_topic = pd.read_csv('ieee_zhihu_cup/question_topic_train_set.txt', header=None, names=['question_id', 'topic_id'],sep='\t')
df_question_topic.head(5)

           question_id                                           topic_id
0  6555699376639805223            7739004195693774975,3738968195649774859
1  2887834264226772863                               -3149765934180654494
2 -2687466858632038806                                -760432988437306018
3    -5698296155734268           -6758942141122113907,3195914392210930723
4 -6719100304248915192  3804601920633030746,4797226510592237555,435133...

In [16]:
def find_questions(row, topic_id):
    return (topic_id in row)
class_one_partial_questions = []
for topic in class_one_topic.topic_id:
    class_one_partial_questions.append(df_question_topic[df_question_topic.topic_id.apply(find_questions, args=[str(topic)])])
class_one_questions = pd.concat(class_one_partial_questions)
len(class_one_questions)

354700

In [17]:
class_two_partial_questions = []
for topic in class_two_topic.topic_id:
    class_two_partial_questions.append(df_question_topic[df_question_topic.topic_id.apply(find_questions, args=[str(topic)])])
class_two_questions = pd.concat(class_two_partial_questions)
class_two_questions.shape

(1240773, 2)

### 根据 topic 继承关系找 questions
给定一个topic，找到此topic下的所有子topic 

给定一个topic, 找到此topic下的所有文章，包含子topic的文章

找到没有子topic的topic

The next cell finds the subtopic of one specific topic id

In [18]:
pid = input("Enter topic_id: ")
topics = df_topics[df_topics.pid.apply(finding_topics, args=[str(pid)])]
len(topics)

Enter topic_id: 4738849194894773882

0

The next cell finds all topics with no sub topic

In [19]:
def no_subtopic(row, data):
    topics = df_topics[df_topics.pid.apply(finding_topics, args=[str(row)])]
    return topics.empty
topic_no_subtopic = df_topics[df_topics.topic_id.apply(no_subtopic, args=[df_topics])]
len(topic_no_subtopic)

1168

将训练集分为60% 的训练集， 40% 测试集

In [78]:
train, test = train_test_split(df_question_train_set, test_size = 0.4)
print(df_question_train_set.size, train.size, test.size)

17999802 10799880 7199922

### Pandas 内存的使用与 Python 垃圾回收
删除 df_question_train_set 以节省内存，但是执行
```
del df_question_train_set
```
后内存占用量并没有减少。这是因为 train test 与 del df_question_train_set 使用的是同块内存。

执行以下三句，
```
del df_question_train_set
del train
del test
```
并
```
gc.collect()
```
内存才降下来

### 判断标签是否在问题标题中出现，并统计在训练集中标签在问题标题中出现的情况

In [79]:
train.head(5)

,question_id,ct,wt,wn,cd,wd
1948779,-4379959198707340134,"c15,c768,c769,c323,c324,c935,c652,c672,c504,c7...","w875,w216,w3248,w686,w1321,w19247,w13480,w11,w...",c2047,w7464,NaN
2720224,-8563951598849650772,"c15,c768,c769,c773,c767,c2984,c370,c139,c11,c1...","w875,w25350,w39967,w2750,w6,w20035,w11,w2895,w...","c406,c485,c295,c4,c1824,c17,c15,c768,c769,c107...","w16956,w192,w20035,w11,w875,w11015,w13449,w575...",NaN
691217,717675333030525069,"c2305,c115,c60,c3308,c115,c60,c413,c2520,c2005...","w210595,w33,w58208,w33,w93573,w11801,w9441,w50...",NaN,NaN,NaN
2952996,306331496541967920,"c518,c419,c270,c480,c85,c924,c137,c11,c839,c27...","w471,w94571,w239,w3354,w6,w18860,w111","c212,c518,c2750,c625,c671,c993,c17,c953,c1362,...","w3105,w90472,w28001,w11,w218992,w166,w2030,w6,...",NaN
712749,3878133055478022291,"c931,c485,c302,c206,c824,c1419,c363,c37,c71,c1...","w1370,w222,w36901,w5715,w53637,w4016","c931,c485,c302,c206,c824,c1419,c363,c37,c71,c1...","w1370,w222,w36901,w5715,w53637,w1336,w1912,w11...",NaN

### 判断标签是否在问题描述中出现，并统计在训练集中标签在问题描述中出现的情况

### 针对topic， 分别用字与词制作词汇表。这是两个超级稀疏的矩阵

### Jupyter Notebook 技巧
> 在菜单上点 help->keyboart shotcuts 可以学到很多的快捷键，快捷键的使用情况体现了一个人在软件工具的专业程度。不一定一次全学会，可以每次先学一点儿。比如今天先学会以，如何使用快捷键将一个cell 转成markdown 或者将转成code.

### 参考文献：

http://blog.csdn.net/u013713117/article/details/55049808

https://www.kaggle.com/c/facebook-recruiting-iii-keyword-extraction/discussion/6650